<%= form_for :import, :html => { :multipart => true } do |f| %>
  <%= f.file_field :csv, :accept => 'text/html' %>
  <%= f.submit t(:upload), :disable_with => t(:uploading) %>
<% end %>
<div>Exporter la liste des jeux. Par exemple dans USBLoader GX, cliquer sur le nombre de jeux. Puis TXT. Copier le fichier sur le PC. Il est dans config/gamelist.txt. Puis sélectionnez-le dans le formulaire au dessus.</div>
<%= image_tag("USBLoader_GX_ScreenShot-01.png", :size => "320x240") %><br/>
<%= image_tag("USBLoader_GX_ScreenShot-02.png", :size => "320x240") %><br/>
